@charset "utf-8";
/* CSS Document */

.SectionHeader {
	font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: capitalize; 		 	color: #000000;
}
.SectionHeader02 {
	font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: capitalize; 		 	color: #000000;
}
.Body01 {
	font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-variant: normal; line-height: 1.45em; 
}
.Body01 A:link {
	COLOR: #0033FF; TEXT-DECORATION: none
}
.Body01 A:visited {
	COLOR: #0033FF; TEXT-DECORATION: none
}
.Body01 A:active {
	COLOR: #0033FF; TEXT-DECORATION: none
}
.Body01 A:hover {
	COLOR: #0033FF; TEXT-DECORATION: underline
}
.Body02 {
	font-size: 10px; font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-variant: normal;
}
.Body03 {
	font-size: 14px; font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-variant: normal; line-height: 1.45em;
}
.Body03 A:link {
	COLOR: #0033FF; TEXT-DECORATION: none
}
.Body03 A:visited {
	COLOR: #0033FF; TEXT-DECORATION: none
}
.Body03 A:active {
	COLOR: #0033FF; TEXT-DECORATION: none
}
.Body03 A:hover {
	COLOR: #0033FF; TEXT-DECORATION: underline
}
.Menu01 {
	font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: capitalize;
}
.Footer01 {
	font-size: 10px; font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-variant: normal; color: #666666;
}
.Footer01 A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
.Footer01 A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
.Footer01 A:active {
	COLOR: #666666; TEXT-DECORATION: none
}
.Footer01 A:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
.Footer02 {
	font-size: 10px; font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-variant: normal; color: black; line-height: normal;
}
.Footer02 A:link {
	COLOR: #0033FF; TEXT-DECORATION: none
}
.Footer02 A:visited {
	COLOR: #0033FF; TEXT-DECORATION: none
}
.Footer02 A:active {
	COLOR: #0033FF; TEXT-DECORATION: none
}
.Footer02 A:hover {
	COLOR: #0033FF; TEXT-DECORATION: underline
}
.PicBorder-Blk {
	color: #666666; border: 1px solid #000000;
}
